
/* Universal styles */
.container{
    width: 1140px;
    margin: 0 auto;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

/* header styles */
header .container {
    display: flex;
   align-items: center;
   justify-content: space-between;
}

header ul{
    display: flex;
    gap: 50px;
}

.btn{
    background-color: orangered;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn:hover{
    color: black;
}

/* Header styles */
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul{
    display: flex;
    gap: 50px;
}

header a{
    color: black;
}

header a:hover{
    color: #FF6838;
}

